{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">


</head>
<body>
    <h2> ram laxman </h2>
    <center>
        <h1>static specific</h1>
        <h1>dhoni image</h1>
    
    <img src="{% static 'images/MSD.AVIF' %}"  width="500px" height="450px">
    <p>Mahendra Singh Dhoni, commonly known as MS Dhoni, is a former Indian cricketer and captain of the Indian national team in limited-overs formats from 2007 to 2017, and in Test cricket from 2008 to 2014. He is also the current captain of Chennai Super Kings in the Indian Premier League.</p>
    </center>
</body>
</html>